@media (max-width:1200px) {
    .section_mobile_app {
        gap: 4rem;
    }

    .img_section_mobile_app img {
        top: -25px;
    }
}

@media (max-width:1042px) {
    .action_order {
        max-width: 100%;
    }

    .section_mobile_app {
        gap: 0;
    }

    .section_search_location img {
        max-width: 105px;
    }
}

@media (max-width:999px) {

    .img_section_mobile_app {
        grid-row: 2;
        grid-column: 1 span;
        margin-top: 4rem;

    }

    .img_section_mobile_app img {
        top: -14px;
    }

    .content_section_mobile_app {
        grid-column: 2 span;
    }

    .content_section_mobile_app h4 {
        font-size: 36px;
    }

    .content_section_mobile_app p {
        font-size: 15px;
    }

    .content_search_location h6 {
        font-size: 32px;
    }
}

@media (max-width:882px) {
    .header_bottom {
        margin-top: 2rem;
    }

    .fixed_box_delivery {
        top: -2rem;
        left: -14rem;
    }

}

@media (max-width:834px) {
    .section_food{
margin-top: 4rem;
    }
    .info_site_footer{
        grid-row: 2;
        grid-column: 2 span;
        justify-self: center;
        margin-top: 2rem;
    }
    .grid_section_footer{
        grid-template-columns: repeat(2,1fr);
    }
    .grid_section_footer .link_footer:nth-child(2){
      justify-self: center;
    }
    .content_search_location form{
        width: 92%;
    }
    .bottom_action_order {
        max-width: 54%;
        padding: 5px 15px;
        gap: 2px;
    }

    .action_order>button {
        padding: 16px;
        font-size: 14px;
    }

    .action_order {
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .fixed_box_delivery {
        padding: 6px;
        top: -2rem;
        left: -13rem;
    }

    .order_food {
        margin-top: 2rem;
    }

    .content_left_header_bottom {
        margin-top: 4rem;
    }

    .content_left_header_bottom h1 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
    }

    .navgation {
        grid-template-columns: repeat(3, auto);
    }

    .navgation>ul {
        display: none;
    }

    .link_navgation {
        justify-self: center;
    }

    .menu_icon {
        justify-self: flex-end;
    }

    .row_grid_food_products {
        grid-template-columns: repeat(2, 1fr);
    }

    .section_search_location img {
        max-width: 78px;
    }
}

@media (min-width: 835px) {

    .menu_icon {
        display: none;
    }

}

@media (max-width: 676px) {
    .content_search_location h6{
        font-size: 25px;
    }
    .content_search_location p{
        font-size: 12px;
    }
    .header_bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .content_left_header_bottom {
        width: 100%;
        text-align: center;
    }

    .content_left_header_bottom p {
        max-width: 100%;
        padding: 1.5rem 0;
    }

    .header_bottom {
        text-align: center;
    }

    .order_food_desktap {
        display: none;
    }

    .order_food_mobile {

        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fixed_box_delivery {
        position: static;
        width: 30%;
    }

    .content_left_header_bottom {
        margin-top: 0;
    }

    .action_order>button {
        padding: 9px;
    }

    .action_order>button svg {
        font-size: 19px;
        margin-top: -2px;
    }

    .section_mobile_app {
        max-width: 100%;
        height: 100%;
        border-radius: 500px 500px 0 0;

    }

    .content_section_mobile_app {
        align-items: center;
        margin-top: 6rem;
    }

    .content_section_mobile_app p {
        max-width: 100%;
    }

    .img_section_mobile_app {
        grid-column: 2 span;
        justify-self: center;
    }

    .img_section_mobile_app img {
        max-width: 200px;
        top: -11px;
    }
}

@media (min-width: 677px) {
    .order_food_mobile {
        display: none;
    }
}
@media (max-width: 560px) {
    .section_search_location img:nth-child(4){
        top: 5%;
    }
    .content_search_location{
        text-align: center;
    }
    .content_search_location form{
        height: 49px;
    }
    .content_search_location form input{
       font-size: 13px;
    }
    .content_search_location form button{
      top: 4%;
    }
}
@media (max-width: 500px) {
    .row_grid_food_products {
        grid-template-columns: repeat(1, 1fr);
    }
}