* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Poppins-Light.ttf);
}

:root {
    --color-red1: #C90000;
    --color-black1: #323232;
    --color-black2: #504F4F;
    --color-black3: #7D7C7C;
    --color-yellow1: #FFC300;
    --color-yelow2: #FFF6A3;
    --color-yerllow3: #FFFDE6;
    --color-white1: #E3E3E3;
    --color-white2: #F1F1F1;
    --color-whiteFFF: #fff;
    --color-rgb241: rgba(241, 241, 241, 241, 0.70);
    --color-rgb241-: rgba(241, 241, 241, 241, 0.40);
    --color-rgb-shadow: rgba(112, 144, 176, 0.20);



}

img {
    width: 100%;
}

h1 {
    color: var(--color-yellow1);
}

.container_site {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.img_bgr {
    width: 54px;
    height: 56px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-red1);
}

.img_logo {
    position: relative;
    width: 57px;
    height: 26px;
    top: 10px;
    left: -1px;
}

.main_header {
    margin-top: 1rem;
}

.navgation {
    display: grid;
    grid-template-columns: 58px 565px 187px;
    justify-content: space-between;
    align-items: center;
}

.navgation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navgation ul li:not(:first-child) a {
    color: var(--color-black3);

}

.navgation ul li:first-child a {
    color: var(--color-red1);
    font-weight: 600;
}

.navgation ul li a {

    font-weight: 500;
}

.link_navgation a {
    border: 1px solid var(--color-red1);
    padding: 9px 16px;
    border-radius: 100px;
    font-size: 16px;
}

.link_navgation a:first-child {
    color: var(--color-red1);
    font-weight: 400;

}

.link_navgation a:last-child {
    background-color: var(--color-red1);
    color: var(--color-whiteFFF);
    font-weight: 500;
}

.nav_menu_sidbar {
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: var(--color-whiteFFF);
    height: 100%;
    top: 0;
    padding: 1rem;
    width: 200px;
    border-right: 2px solid var(--color-black3);
    transform: translateX(-384px);
    transition: all 250ms ease-out;
    z-index: 100;
}

#input_menu:checked+label+ul {
    transform: translateX(0);
}

#close_icon {
    display: none;

}

#input_menu:checked+label svg:first-child {
    display: none;
}


#input_menu:checked+label #close_icon {
    display: block;
    position: relative;
    right: -7px;
    top: -2px;
}

.header_bottom {
    display: grid;
    grid-template-columns: auto auto;
}

.content_left_header_bottom {
    align-self: center;
    width: 86%;
    position: relative;
}

.content_right_header_bottom {
    position: relative;
}

.fixed_box_delivery {
    text-align: center;
    position: absolute;
    top: 3rem;
    left: -6rem;
    border-radius: 50px 50px 0 50px;
    border: 1px solid var(--color-white2);
    background-color: var(--color-rgb241-);
    padding: 12px;
}

.fixed_box_delivery div {
    display: flex;
    align-items: center;
}

.fixed_box_delivery>span {
    color: var(--color-black3);
    font-size: 16px;
    font-weight: 400;

}

.fixed_box_delivery div span {
    color: var(--color-black1);
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 10px;
    display: block;
}

.content_left_header_bottom h1 {
    color: var(--color-red1);
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}

.content_left_header_bottom p {
    color: var(--color-black2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 77%;
}

.order_food {
    margin-top: 2.9rem;
}

.text_price_order_food {
    color: var(--color-black1);
    margin-bottom: 1rem;
}

.text_price_order_food span:first-child {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.text_price_order_food span:last-child {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.action_order {
    display: flex;
    justify-content: space-between;
    max-width: 92%;
}

.bottom_action_order {
    align-items: center;
    width: 42%;
    gap: 12px;
    display: flex;
    justify-content: space-between;
    max-width: 82%;
    border: 1px solid var(--color-rgb241);
    background-color: var(--color-whiteFFF);
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0px 10px 17px 0px var(--color-rgb-shadow);

}

.bottom_action_order button {
    background-color: transparent;
    border: none;

}

.bottom_action_order span {
    color: var(--color-yellow1);
    font-size: 20px;
    font-weight: 500;
}

.bottom_action_order span::after,
.bottom_action_order span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color-rgb241);
}

.bottom_action_order span::after {

    margin-left: 12px;
}

.bottom_action_order span::before {

    margin-right: 12px;
}

.action_order>button {
    font-family: 'poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC300;
    color: var(--color-black1);
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 20px 20px 0 var(--color-rgb-shadow);
    Width: 189px;
    Height: 62px;
    border-radius: 100px;
    padding: 16px 24px;
    border: none;
    line-height: 30px;
}

.action_order>button svg {
    margin-right: 5px;
    margin-top: -3px;

}

.row_title_section_food h4 {

    color: var(--color-red1);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.row_title_section_food {
    position: relative;
    width: max-content;
}

.line_box {
    Width: 100%;
    Height: 9px;
    background: var(--color-yelow2);
    position: absolute;
    top: 48px;
    z-index: -1;
}

.row_bottom_category {
    display: grid;
    grid-auto-columns: 178px;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 20px;
    margin-top: 32px;
}

.row_bottom_category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-white1);
    background-color: var(--color-white2);
    color: var(--color-black2);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 20px;
    border-radius: 100px;
    column-gap: 8px;

}

.button_active_category {
    background-color: var(--color-yellow1) !important;
    color: var(--color-black1) !important;
    font-weight: 600 !important;

}

.row_grid_food_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    margin-top: 32px;
}

.item_food_grid {
    position: relative;
    border: 1px solid var(--color-white1);
    border-radius: 12px;
    padding: 16px;
}

.label_sale {
    position: absolute;
    width: 48px;
}

.img_item_food_grid {
    position: relative;
    text-align: center;
}

.img_item_food_grid img {
    max-width: 227px;
    max-height: 170px;

}

.img_last {
    max-width: 137px !important;
}

.img_item_food_grid div {
    position: absolute;
    width: 100%;
    height: 105px;
    border-radius: 12px;
    top: 68px;
    z-index: -1;
    background-color: var(--color-yerllow3);
}

.info_item_food_grid {
    margin-top: 18px;
}

.info_item_food_grid h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--color-black1);
}

.info_item_food_grid p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-black2);

}

.score_item_food_grid {
    margin: 12px 0 20px 0;
    display: flex;
    justify-content: flex-start;
}

.bottom_item_food_grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_item_food_grid span {
    color: var(--color-black1);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;

}

.bottom_item_food_grid button {
    border: none;
}

.see_all_food {
    margin-top: 1.5rem;
    text-align: center;
}

.see_all_food a {
    color: var(--color-black2);
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.section_off {
    margin-top: 10rem;


}

.section_off .hole {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_food_off {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    margin-top: 1.8rem;
}

.item_food_off {
    height: 335px;
    overflow: hidden;
    padding: 2rem 0 2rem 1.2rem;
    border: 1px solid var(--color-white1);
    background-color: var(--color-white2);
    border-radius: 20px;
    transition: all 250ms ease-in;
    cursor: pointer;
}

.item_food_off:hover {

    background-color: var(--color-red1);
    transform: scale(1.1);
}

.item_food_off:hover .left_item_food_off h6 {
    color: var(--color-yellow1);
}

.item_food_off:hover .title_sm_item_food span:first-child,
.item_food_off:hover .left_item_food_off p,
.item_food_off:hover .price_off del {
    color: var(--color-whiteFFF);
}

.item_food_off:hover .left_item_food_off button {
    color: var(--color-black1);
    background-color: var(--color-whiteFFF);
}

.item_food_off:hover .left_item_food_off button svg path {
    fill: var(--color-black1);
}

.item_food_off:hover .price_off span {
    color: var(--color-yellow1);
}

.row_info_food_off {
    display: flex;
}

.title_sm_item_food {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.title_sm_item_food span:first-child {
    color: var(--color-black1);
    font-size: 15px;
    font-weight: 400;
}

.title_sm_item_food span:last-child {
    display: inline-block;
    width: 75%;
    background-color: var(--color-black3);
    height: 1px;
}

.left_item_food_off {
    width: 95%;
}

.left_item_food_off h6 {
    transition: all 250ms ease-in;
    white-space: nowrap;
    margin: 0.9rem 0;
    color: var(--color-red1);
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
}

.left_item_food_off p {
    transition: all 250ms ease-in;
    color: var(--color-black2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 44px;
}

.price_off del {
    color: var(--color-black3);
    font-size: 16px;
    font-weight: 600;
    transition: all 250ms ease-in;
}

.price_off span {
    color: var(--color-red1);
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    margin-top: 0.5rem;
    transition: all 250ms ease-in;
}

.left_item_food_off button {
    transition: all 250ms ease-in;
    background-color: var(--color-black2);
    color: var(--color-white2);
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    font-family: 'poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 8px 12px;
    border: navajowhite;
    margin-top: 2.5rem;
}

.left_item_food_off button span {
    height: 24px;
    line-height: 27px;
}

.right_item_food_off img {
    position: relative;
    /* transform: scale(2); */
    max-width: 273px;
    max-height: 204px;
    width: 273px;
    top: 27%;
    right: 30%;
}

.secend_food_off .right_item_food_off img {
    right: 55%;
}

.section_mobile_app {
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: flex-end;
    border: 1px solid var(--color-white1);
    background-color: var(--color-white2);
    border-radius: 0 500px 500px 0;
    max-width: 90%;
    margin-top: 10rem;
}

.img_section_mobile_app img {
    height: 100%;
    max-width: 400px;
    object-fit: cover;
    transform: scale(1.2);
    position: relative;
    top: -26px;
}

.content_section_mobile_app {
    padding: 2rem;
    align-self: center;
    justify-self: center;
}

.content_section_mobile_app h6 {
    color: var(--color-black3);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.content_section_mobile_app h4 {
    color: var(--color-red1);
    margin: 1rem 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}

.content_section_mobile_app p {
    color: var(--color-black1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 77%;
}

.downlod_btn_app a {
    margin-top: 32px;
    width: 14%;
    display: inline-block;

}

.downlod_btn_app a:last-child {
    margin-left: 20px;


}

.content_search_location {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black1);
    border-radius: 20px;
    margin-top: 5rem;
    height: 398px;
}

.section_search_location img {
    max-width: 180px;
    position: absolute;
    object-fit: cover;
}

.section_search_location img:last-child {
    bottom: 0;
    left: 36%;
}

.section_search_location img:nth-child(4) {
    left: 0;
    top: 16%;
}



.content_search_location h6 {
    color: var(--color-yerllow3);
    font-size: 48px;
    font-weight: 500;
}

.content_search_location form {
    position: relative;
    background-color: var(--color-yellow1);
    width: 45%;
    padding: 0 10px;
    height: 56px;
    border-radius: 100px;
}

.content_search_location form button {
    font-family: poppins;
    position: absolute;
    right: 13px;
    top: 11%;
    background-color: var(--color-whiteFFF);
    border-radius: 100px;
    padding: 12px 24px;
    border: none;
}

.content_search_location form input::placeholder {
    color: var(--color-black2);
    font-family: poppins;
}

.content_search_location form input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;

}


.content_search_location p {
    color: var(--color-white2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0.5rem 0 4rem 0;
}

footer {
    background-color: var(--color-yerllow3);
    padding: 32px 0;
    margin-top: 5rem;
}

.grid_section_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.info_site_footer{
    align-self: center;
}
.info_site_footer ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 4rem;
    padding-top: 1rem;
}

.logo_footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo_footer h6 {
    color: var(--color-black1);
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    white-space: nowrap;
}

.logo_footer img {
    max-width: 70px;
}

.link_footer h5 {
    color: var(--color-black1);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
}
.link_footer ul li {
    color: var(--color-black1);
    font-size:16px;
    font-weight: 300;
    line-height: 36px; 
}
.link_footer ul li a{
    color: inherit;
}
.link_footer ul{
    margin-top: 2rem;
}